.testimonies__background {
    background-color: var(--color-primary);
    min-height: 95vh;
    color: #000;
}

.testimonies__slider__content {
    display: grid;
    justify-items: center;
    padding: 5rem 0;
}

.testimonies__slider__div h2,
.testimonies__slider__div h3,
.testimonies__slider__div h4,
.testimonies__slider__div p {
    margin: unset;
}

.testimonies__slider__div h2 {
    font-size: 3.125rem;
}

.testimonies__slider__div h2 span {
    display: block;
    text-align: right;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}

.testimonies__slider__div h4 {
    font-size: 5.25rem;
    font-weight: 900;
}

.testimonies__slider__div p {
    width: 80ch;
    text-align: center;
    line-height: 2rem;
}
