.testimonies {
    background-color: var(--color-primary);
    color: black;
    height: 100vh;
}


.testimonies__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.testimonies__photo{
    margin: 30px;
    width: 18.75rem;
}

.testimonies__slide h2 {
    font-size: 3.125rem;
    text-align: right;
}

.testimonies__slide h2 span {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}


.testimonies__slide p {
    width: 80ch;
    line-height: 2rem;
    margin: 0;
}
